<div>
    <main class="main">
        <div class="container">
          <article class="article card">
            <header class="article-header card-header">
              <h1 class="card-heading">
                【告知】4/10 18:30- LangChainとLangGraphによるRAG・AIエージェント［実践］入門 10章 要件ドキュメント生成AIエージェントの輪読会やります
              </h1>
              <a href="/programs/LT_langgraph10_intro"><img src="/images/LT_langgraph10/LT_langgraph10_thumbnail.jpg" alt="こちらのサイトでイベント告知配信中！" style="width: 100%;"></a>
              <div class="article-header-note">
                輪読会で使うスライドの最初の部分をあげておきます。<br/>
                PCでクリックするとずんだもんがLTしはじめます！<br/>
                お気軽にご参加ください（なお、当日はずんだもん出てきません）
              </div>
            </header>
          </article>
        </div>
    </main>
</div>
