<div>
    <main class="main">
        <div class="container">
          <article class="article card">
            <header class="article-header card-header">
              <h1 class="card-heading">
                まもなく放送１００回！記念インタラクティブWeb放送を公開しました！
              </h1>
              <a href="/welcome"></a><img src="/images/zund_arm_on_100_notice.png" alt="お知らせ" style="width: 100%;"/></a>
              <div class="article-header-note">
                あなたも番組に参加して気分はコメンテーター！？<br/>
                配信ネタに困っているVTuberさんもネタを提供してくれてコメントするだけで良い最終兵器として大助かり！<br/>
                WebブラウザとVoicevoxだけでずんだもんとの会話を、マイクやテキスト入力、音声合成を用いて楽しめます。<br/>
                <a href="/welcome">こちらのサイトで配信中！</a>是非PCから遊んでみて！
              </div>
            </header>
          </article>
        </div>
    </main>
</div>
