<div>
    <main class="main">
        <div class="container">
          <article class="article card">
            <header class="article-header card-header">
              <div class="article-header-note">
                <b>番組改編のお知らせ</b>
                <br/>
                2024/12/16より毎週月曜日は春日部つむぎがMCを務める「マジカルラブリー☆つむぎのピュアピュアA.I.放送局」が放送されます。
                <br/>
                <b>AI放送局の年末年始の放送について</b>
                <br/>
                12月28日(土)から1月5日(日)までの間、AI放送局は年末年始の休業とさせていただきます。また、1月6日(月)からは通常通り放送を再開いたしますので、どうぞよろしくお願いいたします。
              </div>
            </header>
          </article>
        </div>
    </main>
</div>
